<h1>Listing Shops</h1>
<table>
  <tr>
    <th>Id </th>
    <th>Name</th>
    <th>Decription </th>
  </tr>
  <% @shops.each do |shop| %>
  <tr>
    <td><%= shop.id %></td>
    <td><%= shop.name %></td>
    <td><%= shop.description %></td>
    <td><%= link_to 'show', shop %></td> 
    <td><%= link_to 'edit', edit_shop_path(shop) %></td>
    <td><%= link_to 'delete', shop, :confirm => "Delete this shop?", :method => "delete" %></td>
  </tr>
  <% end %>
</table>

<%= link_to 'New Item', new_shop_path %>
