Name:<%= @shop.name %>
Description: <%= @shop.description %>

<%= link_to 'Edit', edit_shop_path(@shop) %>|
<%= link_to 'Back to shops', shops_path %>

<p>
  <b>Name:</b>
  <%= @shop.name %>
</p>

<p>
  <b>Shop Code:</b>
  <%= @shop.shopCode %>
</p>

<p>
  <b>First Name:</b>
  <%= @shop.personFirstName %>
</p>

<p>
  <b>Last Name:</b>
  <%= @shop.personLastName %>
</p>

<p>
  <b>Description:</b>
  <%= @shop.description %>
</p>

<p>
  <b>Phone</b>
  <%= @shop.phone%>
</p>

<p>
  <b>Fax</b>
  <%= @shop.fax%>
</p>

<p>
  <b>Email:</b>
  <%= @shop.email %>
</p>

<p>
  <b>Address Line 1</b>
  <%= @shop.addressLineOne%>
</p>

<p>
  <b>Address Line 2</b>
  <%= @shop.addressLineTwo%>
</p>

<p>
  <b>Address Line 3</b>
  <%= @shop.addressLineThree%>
</p>

<p>
  <b>City</b>
  <%= @shop.city%>
</p>

