<% @item.tags.build %>
<%= form_for(@item) do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :description %>
    <br />
    <%= f.text_area :description %>
  </div>
  <div>
    <%= f.label :weight %>
    <%= f.text_field :weight %> 
  <h2> Tags </h2>
  </div>
      <%= render :partial => 'tags/form',
                 :locals => {:form => f } %>
  <%= f.submit %>
<% end %>
