<h2>
Product
</h2>
<div>
  <b> <label>name </label> </b>
<%= @item.name %>
</div>
<div>
  <b><label> weight </label></d>
  <%= @item.weight %>
</div>

<%-
#http://rubysource.com/processing-images-with-carrierwave/
-%>
<div>
  <%= image_tag @item.image_url(:thumb) %>
</div>
<br/>


<p>
  <b> Tags: </b>
  <%= @item.tags.map {|t| t.name }.join {","} %>
</p>  
<h2> New Comment </h2>
<%= render @item.comments %>
<h2> Add a comment </h2>
<%= form_for([@item,@item.comments.build]) do |f| %>
  <%= f.label :commenter %>
  <%= f.text_field :commenter %>

  <div>
    <%= f.label :body %> <br />
    <%= f.text_area :body %>
  </div>
  <%= f.submit %>
<% end %>
<%= link_to 'Edit', edit_item_path(@item) %>
<%= link_to 'Back', items_path %>

